ion-icon {
    width: 32px;
    height: 32px;
}
ion-avatar {
    margin-bottom: 8%;
    margin-right: 8%;
}

ion-list-header {
    font-size: 21px;
    font-weight: bolder;
    color: #23B7FF;
}
#contact-icon {
    margin-right: 4%;
}
#sendContainer {
    align-items: center;
    text-align: center;
    background-color: transparent;
}

ion-list {
    background-color: transparent;
}
ion-item {
    background-color: transparent;
}
div {
    background-color: transparent;
}
ion-grid {
    background-color: transparent;
}
ion-row {
    background-color: transparent;
}
ion-col {
    background-color: transparent;
}