ion-icon {
    width: 50px;
    height: 50px;
}

ion-list-header {
    font-size: 21px;
    font-weight: bolder;
    color: #23B7FF;
}

#sendContainer {
    align-items: center;
    text-align: center;
}

ion-list {
    background-color: rgba(248,248,255,0.80) !important;
}
ion-item {
    background-color: rgba(248,248,255,0.80) !important;
}
div {
    background-color: rgba(248,248,255,0.80) !important;
}
ion-grid {
    background-color: rgba(248,248,255,0.80) !important;
}
ion-row {
    background-color: rgba(248,248,255,0.80) !important;
}
ion-col {
    background-color: rgba(248,248,255,0.80) !important;
}