<ion-list [ngSwitch]="type" style="background-color: transparent;">
  <div id="sendContainer" *ngSwitchCase="0">
    <ion-list-header>
      Send Files and Photos
    </ion-list-header>
  
    <ion-item color="primary">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="images-sharp"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="documents-sharp"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
  <div *ngSwitchCase="1">
    <ion-list-header>
      Connect Social Medias
    </ion-list-header>
    <ion-item *ngFor="let social of socials">
      <ion-avatar slot="end">
        <ion-icon name="{{social.icon}}"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{social.title}}</h2>
        <h3>{{social.status}}</h3>
        <p>{{social.link}}</p>  
      </ion-label>
    </ion-item>
    <!-- <app-social-item *ngFor="let social of socials; index as i; first as isFirst" [title]="social.title" [status]="social.status" [link]="social.link" [icon]="social.icon" [isFilled]="social.isFilled">
    </app-social-item> -->

  </div>
</ion-list>